body {
    font-family: 'Playfair Display', serif;

}

.container {
    position: relative;
    text-align: center;
    color: rgb(10, 0, 0);
}


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;

}

.donate-now {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 191), tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}

section {
    display: flex;
    margin-bottom: auto;
    justify-content: center;

}

.tk {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(105, 38, 72);
}

.border {

    border-left: 7px solid rgb(151, 47, 47);
    border-right: 7px solid rgb(151, 47, 47);
    border-top: 7px solid rgb(151, 47, 47);
    border-bottom: 7px solid rgb(151, 47, 47);

}

h5 {
    text-align: center;
    color: dimgray;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(132, 134, 132);
}

#donate {
    text-align: center;
}

h4 {
    text-align: center;
}

.flexible-container {
    display: flex;
    margin-bottom: auto;
}

.item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(167, 111, 129);


}

#background1 {
    background-color: rgb(238, 39, 122);
}

#background2 {
    background-color: rgb(33, 155, 163);
}

#background3 {
    background-color: rgb(231, 64, 64);
}

.align {
    text-align: center;
    background-color: black;
    height: 100px;
}

h2 {
    color: rgb(218, 42, 77);
}

h6 {
    color: white;
}

.width {
    width: 50%;
    padding-left: 2%;

}

.width img {
    width: 90%;
}

.contribute {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 191), tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;


}